<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Search Here</mat-label>
          <input matInput (keyup)="searchTable($event)" placeholder="Filter" />
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end" *ngIf="!openCustomTemplate">
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Add
        </button>
      </div>

      <div class="col-lg-4 d-flex align-items-center justify-content-end" *ngIf="openCustomTemplate">
        <button mat-flat-button (click)="openModal($event)" color="primary">
          Add
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <!-- <div class="row justify-content-between m-b-8">
      <div class="col-lg-5 col-sm-6 d-flex align-items-center">
        <div>
          <mat-card-title
            >Data table with sorting, pagination, and filtering</mat-card-title
          >
          <mat-card-subtitle class="mat-body-1"
            >all functionality is in one table</mat-card-subtitle
          >
        </div>
      </div>
      <div class="col-lg-3 col-sm-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Search Here</mat-label>
          <input matInput (keyup)="searchTable($event)" placeholder="Filter" />
        </mat-form-field>
      </div>
    </div> -->

    <div class="table-responsive" >
      <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
    </div>
  </mat-card-content>
</mat-card>

