@use "@angular/material" as mat;
@import "/src//assets//scss//themecolors/default_theme";

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: mat.get-color-from-palette($theme-primary, 500) !important;
  background: none;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  border:  1px solid transparent;
  color: mat.get-color-from-palette($theme-primary, 500) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  box-shadow: none;
}
.dataTables_wrapper #previous, .dataTables_wrapper #next {
  position: relative;
}
.dataTables_wrapper #previous div, .dataTables_wrapper #next div{
  position: absolute;
  top: -9px;

}
.dataTables_wrapper #previous div {
  left: 0;
}
.dataTables_wrapper #next div {
  left: -26px;
}
table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #e5eaef;
}
table.dataTable.no-footer {
  border-bottom: none;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #e5eaef;
}
