@use "@angular/material" as mat;
@import "/src//assets//scss//themecolors/default_theme";

gridster.fit {
  background: none;
}
gridster-item {
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
}
.demo-chart {
  width: 100%;
  padding: 5px;
}
.template {
  display: flex;
}
#gridster {
  flex: 1;
  border: 1px dashed rgb(245, 241, 241);
}
.list-chart {
  width: 250px;
  margin-left: 24px;
}
.enable {
  opacity: 0.5;
}
.delete-ioc {
  float: right;
}
.delete-ioc:hover {
  color: mat.get-color-from-palette($theme-primary, 500);
}

.disEdit #gridster {
  padding: 0 !important;
  border: none !important;
}

.template-box {
  position: relative;
  .list-snapshot {
    width: 70px;
    position: absolute;
    left: -100px;
  }
}
