<div id="fullscreen" style="position:relative;padding-top:20px;background: #fff;" >
  <em class="fa fa-compress hand " style="position: absolute;right: 0px;top: 0px; font-size: 30px;" (click)="zoomItem()"   (touchstart)="zoomItem()"  title="缩小"></em>
  <em class="fa fa-arrow-circle-left hand z-index" style="position: absolute;left: 0px;top: 50%; font-size:30px; z-index:99999999;" (click)="upWard()"  (touchstart)="upWard()"  title="向上"></em>
  <em class="fa fa-arrow-circle-right hand z-index" style="position: absolute;right: 0px;top: 50%; font-size:30px; z-index:99999999;"  (click)="down()"  (touchstart)="down()"  title="向下"></em>
  <div [ngSwitch]="fullscreenIndex">
    <div   *ngSwitchCase="'demo1'" >
      <div echarts [options]="echartsOption1"  id="fullscreenEcharts" style="height: 600px;"></div>
    </div>
    <div   *ngSwitchCase="'demo2'" >
      <div echarts [options]="echartsOption2"  id="fullscreenEcharts" style="height: 600px;"></div>
    </div>
  </div>
</div>


<mat-card class="cardWithShadow" *ngIf="disEdit">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Dashboard</mat-label>
          <input matInput  placeholder="Dashboard" name="name" [(ngModel)]="name" />
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end" >
        <a
            routerLink="/settings/dashboard"
            mat-stroked-button
            color="warn"
            class="m-r-10"
          >
            Cancel
          </a>
        <button mat-flat-button  color="primary" [disabled]="!name" (click)="saveDashboard()">
          Saves
        </button>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<div [style.height]="gridsterContainerHeight"  [ngClass]="{'disEdit': !disEdit, 'template': true}">
<!--ignoreContentClass: 'gridster-item-content', // default content class to ignore the drag event from -->
<gridster [options]="options"   id="gridster">
  <gridster-item [item]="item['view']" *ngFor="let item of dashboard;let i =index;">
    <!-- your content here -->
    <!-- <div class="fs-md" style="padding-top:  5px;"> -->
        <!-- <label class="item-label gridster-item-content">{{item['label']}}</label>
        <div style="position:absolute;top: 0px;right:0px;">

            <div class="float-right pr-10 hand gridster-item-content" style="cursor: pointer;padding-right: 10px;" (click)="zoomItem($event, item)"
                (touchstart)="zoomItem($event, item)" mdTooltip="Remove" title="放大">
                <em class="fa fa-expand" title="放大"></em>
            </div>

            <div  class="float-right pr-10 hand gridster-item-content" style="cursor: pointer;padding-right: 10px;" (click)="removeItem($event, item)"
                    (touchstart)="removeItem($event, item)" mdTooltip="Remove">
                    <em class="anticon anticon-close" title="删除">X</em>
            </div>


            <div  class="float-right pr-10 hand" style="cursor: pointer;padding-right: 10px;" >
                <em class="fa fa-arrows" title="拖拽"></em>
            </div>
        </div>
      <div [ngSwitch]="i+1"  class="gridster-item-content">
        <div   *ngSwitchCase="'1'">
            <div echarts [options]="echartsOption1" class="demo-chart" (chartInit)="onChartInit($event,i+1)" id="demo1" ></div>
        </div>
        <div   *ngSwitchCase="'2'" >
            <div echarts [options]="echartsOption2" class="demo-chart" (chartInit)="onChartInit($event,i+1)"  id="demo2"></div>
        </div>
        <div   *ngSwitchCase="'3'" >
          item content {{i+1}}
        </div>
        <div   *ngSwitchCase="'4'" >
          item content {{i+1}}
        </div>
        <div   *ngSwitchCase="'5'" >
          item content {{i+1}}
        </div>
        <div   *ngSwitchCase="'6'" >
          item content {{i+1}}
        </div>
        <div   *ngSwitchCase="'7'" >
          item content {{i+1}}
        </div>
        <div   *ngSwitchCase="'8'">
          item content {{i+1}}
        </div>
      </div> -->

      <mat-card class="cardWithShadow" style="width:100%;height:100%">
        <mat-card-content class="p-y-30" style="width:100%;height:100%">
          <mat-card-title>
            {{item['label']}}
            <a
            (click)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)" mdTooltip="Remove"
              class="m-r-10 cursor-pointer delete-ioc"
              *ngIf="disEdit"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </mat-card-title>
          <div [ngSwitch]="item['view']['type']"  class="gridster-item-content">
            <div   *ngSwitchCase="'echarts'">
              <div echarts [options]="item['view']['option']" class="demo-chart" (chartInit)="onChartInit($event,item['view']['type'] + item['view']['label'])" [id]="item['view']['type'] + item['view']['label']" ></div>
            </div>
            <!-- <div *ngSwitchCase="'echarts3'">
              <app-line #lineChat></app-line>
            </div> -->

          </div>
        </mat-card-content>
      </mat-card>
    <!-- </div> -->

  </gridster-item>
</gridster>
<div class="list-chart" *ngIf="disEdit">
  <!-- <div
      draggable="true"
      >
      Drag me!
    </div> -->
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-y-24">
        <mat-card-title>Weight List</mat-card-title>
        <!-- <mat-card-subtitle class="mat-body-1 p-b-16"
          >Weight List</mat-card-subtitle
        > -->

        <div *ngFor="let stat of stats" class="m-t-32" [draggable]="stat.enable" (dragstart)="dragStartHandler($event, stat)"
        [ngClass]="{'enable': !stat.enable}">
          <div class="d-flex align-items-center m-b-24">
            <span
              class="text-{{ stat.color }} bg-light-{{
                stat.color
              }} rounded icon-40 d-flex align-items-center justify-content-center"
            >
              <img [src]="stat.img" width="30px" alt="icon" />
            </span>

            <div class="m-l-16 m-r-auto">
              <h6 class="mat-body-2 f-w-600">{{ stat.title }}</h6>
              <span class="mat-body-1">{{ stat.subtitle }}</span>
            </div>
            <span class="f-w-600 f-s-14"> {{ stat.percent }} </span>
          </div>
        </div>

        <!-- <button mat-stroked-button color="primary" class="w-100 m-t-8">
          View all Transctions
        </button> -->
      </mat-card-content>
    </mat-card>
</div>
</div>



